{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":0,"column":0},"end":{"row":4,"column":0},"action":"remove","lines":["Flask==1.1.1","itsdangerous==1.1.0","Jinja2==2.10.1","Werkzeug==0.15.5",""],"id":2,"ignore":true}],[{"start":{"row":0,"column":0},"end":{"row":9,"column":0},"action":"insert","lines":["Click==7.0","dnspython==1.16.0","Flask==1.1.1","Flask-PyMongo==2.3.0","itsdangerous==1.1.0","Jinja2==2.10.1","MarkupSafe==1.1.1","pymongo==3.8.0","Werkzeug==0.15.5",""],"id":3,"ignore":true}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":9,"column":0},"end":{"row":9,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1564494455104,"hash":"501a27766329917a6542745ec11b2977bc0210d2"}